body{
    margin: 0%;
    padding: 0%;
    background: rgb(46, 3, 3);
}
.container{
    height: 500px;
    width: 300px;
    border: solid 5px black;
    margin: auto;
    background-color:none;
    border: none;
    border-radius: 10px;
}
.cal{
    padding: 15px;
}
/* display of the calculator */
#screen{
     width: 270px;
     height: 50px;
     border-radius: 10px;
     border: .1px solid black;
}
/* look for  buttons  */
.btnlook{
    width: 55px;
    height: 55px;
    border-radius: 30px;
    font-size: 20px;
    margin: 5px;
    margin-top: 20px;
    border: none;
}
/* special id defined for correct button */
#correct{
    width: 120px;
}
/* Look for arithmetic oprators +,=,-,*.*/
.OPratorlook{
    width: 55px;
    height: 55px;
    border-radius: 30px;
    float: right;
    margin-top: 20px;
    border: none;
}
/* special id defined for pLus button also */
#plus{
    height: 135px;
}
/* Heading of the project*/
h1{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    font-weight: 900;
    text-decoration: underline;
}